/*
    R3ditor - style.css
    Por mitosan/mscore/misto_quente/mscorehdr
    Boa sorte!
*/
::-webkit-scrollbar{
    border-radius: 4px;
    width: 8px;
}
::-webkit-scrollbar-track{
    background-image: linear-gradient(to bottom, #292929, #212121);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb{
    background: #e7e7e7;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover{
    background: #fafafa; 
    border-radius: 4px;
}
@font-face{
    font-family: 'timesNR';
    src: url('times.ttf');
}
html{
    -webkit-user-select: none;
    scroll-behavior: smooth;
    color: #fff;
}

img{
    -webkit-user-drag: none;
}
body{
    background-image: linear-gradient(to bottom, #020202, #0f0c23);
    font-family: 'timesNR', Fallback, times;
	color: #fff;
}
u{
    text-shadow: 0 0 10px #ff000063;
}
a{
    color: #fff;
}
audio{
    width: 100%;
}
input[type='range' i]{
    position: relative;
    margin-right: 6px;
    margin-top: 4px;
    width: 62%;
    top: 6px;
}
.chkbox{
    position: absolute;
}
.font-chkbox-fix{
    margin-left: 22px;
}
.updater_title_holder, li{
    margin-top: 6px;
}
.padding-left{
    padding-left: 4px;
}
.red{
    color: #f00;
    text-shadow: 0 0 10px #ff8e8e;
}
.green{
    color: #0f0;
    text-shadow: 0 0 10px #0f0;
}
.RDT_lbl_pointers{
    left: 200px;
    width: 1104px;
    position: sticky;
    margin-top: -18px;
}
.blockUsage{
    top: 596px;
    width: 934px;
    padding: 6px;
    height: auto;
    display: none;
    position: absolute;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #555, #222);
}
.feature_title{
    font-size: x-large;
    text-decoration: underline;
    text-shadow: 0 0 10px #555;
}
.about{
    background-image: linear-gradient(to bottom, #5f4774, #1b163f);
    border-bottom-right-radius: 160px;
    border-bottom-left-radius: 70px;
    box-shadow: 0 0 30px #5d46727a;
    border-top-left-radius: 160px;
    border-top-right-radius: 70px;
    position: absolute;
    overflow: hidden;
    padding: 34px;
    left: 110px;
    width: 80%;
    top: 20px;
}
.appLogo{
    width: 200px;
    filter: blur(200px);
}
.about-tks{
    border-radius: 6px;
    overflow: auto;
    height: 108px;
    width: 80%;
}
.textLOGO{
    color: #fff;
    font-size: xx-large;
    text-shadow: 0 0 30px #f00;
}
.msg-legenda-sticky{
    position: sticky;
    left: 50px;
}
.btn-apply-small{
    width: 30%;
}
.menu-topo{
    width: 98%;
    padding: 6px;
    height: auto;
    position: absolute;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #555, #222);
}
.botao-menu{
	color: #0f0;
	border: none;
    cursor: pointer;
	margin-left: 2px;
	padding-top: 4px;
	padding-left: 10px;
	border-radius: 4px;
	padding-bottom: 4px;
	padding-right: 10px;
	text-shadow: 0 0 10px #888;
	background-image: linear-gradient(to bottom, #202020, #000);
}
.botao-aplicar{
    color: #fff;
    margin-right: 2px;
    box-shadow: 0 0 4px #002808;
    text-shadow: 0 0 10px #1cff00;
    background-image: linear-gradient(to bottom, #009a3a, #003f18);
}
.info-icon-holder{
    margin-top: 8px;
}
.menu{
    top: 84px;
    width: 98%;
    z-index: 1;
    padding: 6px;
    height: 530px;
    overflow: auto;
    position: absolute;
    border-radius: 6px;
    background-color: #444;
}
.log-text{
    width: 99%;
    color: #0f0;
    text-shadow: 0 0 5px #367948;
}
.log-warn{
    width: 99%;
    color: #fffc84;
    text-shadow: 0 0 5px #8a8c2b;
}
.log-error{
    width: 99%;
    color: #ffbdbd;
    margin-top: 4px;
    margin-bottom: 4px;
    text-shadow: 0 0 5px #793636;
}
.log-holder{
    top: 622px;
    width: 98%;
    color: #0f0;
    padding: 6px;
    height: 88px;
    overflow: auto;
    margin-top: 4px;
    border-radius: 6px;
    position: absolute;
    background-image: linear-gradient(to bottom, #151515, #191919);
}
.menu-general-content{
    z-index: 1;
    color: #fff;
    padding: 4px;
    height: 520px;
    margin-top: 2px;
    border-radius: 6px;
    text-shadow: 0 0 5px #367948;
    background-image: linear-gradient(to bottom, #212121c7, #000123b5);
}
.menu-geral-text{
	position: sticky;
    left: 176px;
}
.RDT-menu-geral-text{
    position: sticky;
    left: 200px;
}
.menu-general-btn{
    left: 1230px;
    margin-top: 1px;
    position: sticky;
    padding-top: 2px;
    padding-bottom: 2px;
}
.menu-separador{
	background-image: linear-gradient(to right, #fff, #fff0);
	border-radius: 4px;
	margin-bottom: 4px;
	margin-top: 4px;
	height: 2px;
	color: #fff;
	width: 78%;
}
.separador-log-fix{
    background-image: linear-gradient(to right, #0f0, #0000);
    box-shadow: 0 0 10px #00330096;
    margin-bottom: 8px;
    margin-top: 8px;
    width: 88%;
}
.box-fix-lbl{
    margin-top: -22px;
    cursor: pointer;
}
.b-icon{
    width: 560px;
    cursor: pointer;
}
.b-label{
    margin-top: -8.7px;
    margin-left: 75px;
    display: flex;
}
.inventario{
    width: 218px;
    height: 406px;
    overflow: hidden;
    border-radius: 4px;
    background-color: #000040;
}
.invent-principal{
    cursor: pointer;
    position: fixed;
    width: 1065px;
}
.invent-01{
    top: 182px;
    left: 1090px;
}
.invent-02{
    top: 182px;
    left: 1195px;
}
.invent-03{
    top: 263px;
    left: 1090px;
}
.invent-04{
    top: 263px;
    left: 1195px;
}
.invent-05{
    top: 344px;
    left: 1090px;
}
.invent-06{
    top: 344px;
    left: 1195px;
}
.invent-07{
    top: 424px;
    left: 1090px;;
}
.invent-08{
    top: 424px;
    left: 1195px;
}
.invent-09{
    top: 504px;
    left: 1090px;
}
.invent-10{
    top: 504px;
    left: 1195px;
}
.overflow-hidden{
    overflow: hidden !important;
}
.b-quant-lbl{
	z-index: 1;
    width: 50px;
    position: relative;
    margin-top: -26px;
    margin-left: -578px;
    font-size: 20px;
    display: -webkit-box;
    cursor: pointer;
    text-shadow: 0 0 4px #bfbfbf85;
}
.menu-re3-box{
    top: 154px;
    left: 49.2%;
    width: 31.2%;
    height: 456px;
    position: fixed;
    overflow: hidden;
    padding-top: 10px;
    border-radius: 4px;
    background-color: #000018;
}
.info-details{
    top: 376px;
    left: 664px;
    color: #fff;
    width: 390px;
    padding: 6px;
    height: 222px;
    border: solid;
    position: fixed;
    border-color: #e7e7e7;
    text-align: -webkit-left;
    background-color: #0c0c52;
}
.title-inv{
    font-style: italic;
    font-family: sans-serif;
}
.invent-fix{
    top: 152px;
    left: 80.5%;
	width: 16.2%;
    padding: 10px;
    height: 446px;
    overflow: auto;
    margin-top: 2px;
	position: fixed;
    border-radius: 4px;
    background-color: #00001f;
}
.bau-item{
    background-color: #000039;
    border-radius: 6px;
    margin-top: 4px;
    height: 45px;
    color: #fff;
    width: 100%;
    z-index: 1;
}
.item-box{
    width: 47.6%;
    padding: 10px;
    height: 446px;
    overflow: auto;
    margin-top: 2px;
    border-radius: 4px;
    background-color: #00001f;
}
.item-counter-invent-1{
    z-index: 1;
    width: 40px;
    cursor: pointer;
    margin-top: 54px;
    position: relative;
    font-size: x-large;
    margin-left: -172px;
    display: -webkit-box;
}
.item-counter-invent-2{
    z-index: 1;
    position: relative;
    margin-top: -27px;
    margin-left: 40px;
    font-size: x-large;
    display: -webkit-box;
    cursor: pointer;
    width: 40px;
}
.textbox{
    background-color: #000;
    border-color: #a7a7a7;
    border-style: solid;
    width: 214px;
    padding: 2px;
    color: #0f0;
}
.slot-presente{
    background-color: #03a700;
}
.slot-ausente{
    background-color: #aaa;
}
.slot-easy{
    color: #00f;
}
.slot-save{
    height: 20px;
    width: 186px;
    cursor: pointer;
    margin-top: 4px;
    padding-top: 4px;
    margin-left: 0px;
    margin-right: 2px;
    padding-bottom: 2px;
    text-align: -webkit-center;
    display: -webkit-inline-box;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.save-grid{
    position: absolute;
    width: 1300px;
}
.save-number{
    color: #000;
    width: 25px;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #fff;
    text-shadow: 0 0 0 #000;
    text-align: -webkit-center;
    display: -webkit-inline-box;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.txt-status{
    position: fixed;
    margin-top: 14px;
    margin-left: 30px;
    font-size: x-large;
    display: inline-block;
}
.txt-fine{
	color: #0f0;
    text-shadow: 0 0 10px #fff;
}
.txt-caution{
	color: #fff900;
    text-shadow: 0 0 10px #fff;
}
.txt-caution-red{
	color: #ff9b00;
    text-shadow: 0 0 10px #fff;
}
.txt-danger{
    color: #ff7373;
    text-shadow: 0 0 10px #ffb5b5;
}
.txt-poison{
	color: #c29aff;
    text-shadow: 0 0 10px #fff;
}
.status-menu{
    background-color: #000039;
    border-radius: 4px;
    padding-left: 14px;
    height: 51px;
}
.img-person-icon{
    width: 4%;
}
.titulo{
	font-size: xx-large;
    font-style: italic;
}
.none{
	display: none;
}
.right{
	float: right;
}
.aba{
    zoom: 0.9;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 50px;
    padding-top: 6px;
    margin-right: 2px;
    padding-left: 16px;
    padding-bottom: 6px;
    padding-right: 16px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-image: linear-gradient(to bottom, #272727, #121212);
}
.aba:focus{
    outline: none;
}
.aba-left-fix{
    outline: none;
	margin-left: 12px;
}
.aba-select{
    zoom: 1;
    outline: none;
    text-shadow: 0 0 6px #000;
    background-image: linear-gradient(to bottom, #696969, #444);
}
.aba-select-2{
    zoom: 1;
    outline: none;
    text-shadow: 0 0 6px #000;
    background-image: linear-gradient(to bottom, #9e9e9e, #626262);
}
.RDT-item-select{
    text-transform: none !important;
    width: 510px !important;
    position: sticky;
    left: 740px;
}
.no-transform-text{
    text-transform: none !important;
}
.RDT-item-pos{
    position: sticky;
    width: 560px;
    left: 832px;
}
.RDT-btn-apply{
    border: 1px;
    width: 48.5%;
    padding: 16px;
    cursor: pointer;
    margin-left: 4px;
    border-radius: 0px;
    border-style: double;
    box-shadow: 0 0 15px #3d3d3d;
    text-shadow: 0 0 10px #939393;
    background-image: linear-gradient(to bottom, #222, #000);
}
.color-green{
    color: #0f0;
}
.color-white{
    color: #fff;
}
.RDT-applyBtn-div{
    top: 88%;
    width: 98%;
    position: absolute;
}
.menu-alterar-item{
    top: 40%;
    width: 70%;
    z-index: 1;
    left: 13.4%;
    padding-top: 4px;
    position: absolute;
    padding-left: 20px;
    border-radius: 6px;
    padding-right: 20px;
    padding-bottom: 4px;
    text-align: -webkit-center;
    box-shadow: 0 0 20px #0c0c52;
    background-image: linear-gradient(to bottom, #332892, #1e1850);
}
.item-select-mod{
    color: #0f0;
    width: 190px;
    border: none;
    padding-top: 6px;
    margin-top: 10px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    padding-bottom: 6px;
    background-color: #000;
    text-transform: uppercase;
    box-shadow: 0 0 10px #00285087;
    text-shadow: 0 0 10px #ffffff2e;
}
.btn-box{
    top: -20px;
    left: 264px;
    color: #0f0;
    border: none;
    cursor: pointer;
    margin-left: 2px;
    padding-top: 4px;
    padding-left: 10px;
    border-radius: 4px;
    position: relative;
    padding-bottom: 4px;
    padding-right: 10px;
    background-color: #000;
    box-shadow: 0 0 10px #000031;
}
.btn-box-fix{
    top: -25px;
}
.invent-mod-btn{
    top: 34px;
    left: 80px;
    z-index: 99;
    padding: 4px;
    font-size: 10px;
    position: absolute;
    text-decoration: none;
}
.save-alterar-menu{
    top: 14px;
    left: 968px;
    width: 320px;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    background-image: linear-gradient(to bottom, #555, #222);
}
.msg-raw{
    top: 455px;
    width: 546px;
    height: 152px;
    overflow: auto;
    margin-top: 4px;
    padding-top: 6px;
    padding-left: 10px;
    border-radius: 6px;
    position: absolute;
    padding-right: 10px;
    padding-bottom: 6px;
    background-image: linear-gradient(to bottom, #283a29, #13251e);
}
.msg-textPreview{
    top: 455px;
    left: 578px;
    width: 356px;
    height: 152px;
    overflow: auto;
    margin-top: 4px;
    padding-top: 6px;
    padding-left: 10px;
    border-radius: 6px;
    position: absolute;
    padding-right: 10px;
    padding-bottom: 6px;
    background-image: linear-gradient(to bottom, #354165, #222a42);
}
.msg-events{
    top: 44px;
    width: 926px;
    height: 396px;
    margin-top: 4px;
    padding-top: 6px;
    overflow: hidden;
    padding-left: 10px;
    border-radius: 6px;
    position: absolute;
    padding-right: 10px;
    padding-bottom: 6px;
    background-image: linear-gradient(to bottom, #2b3e46, #212121);
}
.msg-traduzido{
    height: 100px;
    overflow: auto;
    margin-top: 4px;
    padding-top: 6px;
    padding-left: 10px;
    border-radius: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    background-image: linear-gradient(to bottom, #595959, #323240);
}
.msg-addcomand-menu{
    top: 48px;
    left: 960px;
    width: 352px;
    height: 350px;
    overflow: auto;
    padding-top: 6px;
    position: absolute;
    padding-left: 10px;
    border-radius: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    background-image: linear-gradient(to bottom, #23215f, #00004a);
}
.msg-hex{
    top: 414px;
    left: 960px;
    width: 351px;
    height: 197px;
    padding-top: 6px;
    position: absolute;
    padding-left: 10px;
    border-radius: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    background-image: linear-gradient(to bottom, #373f42, #1f1e29);
}
.msg-txt-edit{
    margin: 0px;
    color: #0f0;
    width: 338px;
    padding: 6px;
    resize: none;
    border: none;
    height: 138px;
    font-size: 16px;
    border-radius: 6px;
    box-shadow: 0 0 2px #000;
    text-shadow: rgba(255, 255, 255, 0.18) 0px 0px 10px;
    background-image: linear-gradient(to bottom, #151515, #0f0f0f);
}
.title-eventos{
    margin: 0;
    font-size: 30px;
    font-family: Times;
    font-weight: normal;
    font-style: oblique;
    text-shadow: 0 0 2px #00f;
    text-align: -webkit-center;
}
.italic{
    font-style: italic;
    word-wrap: break-word;
}
.div-eventos{
    height: 338px;
    padding: 10px;
    overflow: auto;
    margin-top: 6px;
    border-radius: 6px;
    background-image: linear-gradient(to bottom, #110f15, #131219);
}
.evento{
    margin-top: 1px;
    min-height: 36px;
    padding-top: 4px;
    padding-left: 6px;
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.evt-type-0{ /* Comando: Mostrar Texto */
    width: 96%;
    margin-left: 30px;
    background-image: linear-gradient(to right, #747463, transparent);
}
.evt-type-1{ /* Comando: Reproduzir SE */
    width: 96%;
    margin-left: 30px;
    background-image: linear-gradient(to right, #60698b, transparent);
}
.evt-type-2{ /* Comando: Mostrar Camera */
    width: 96%;
    margin-left: 30px;
    background-image: linear-gradient(to right, #00757ae8, transparent);
}
.evt-type-3{ /* Comando: Mostar Char Especial */
    width: 96%;
    margin-left: 30px;
    background-image: linear-gradient(to right, #82af9a, transparent);
}
.evt-type-4{ /* Comando: Inicalizar / Finalizar Mensagem */
    background-image: linear-gradient(to right, #aa1717, transparent);
}
.evt-type-5{ /* Comando: Mostrar Nome de Item */
    width: 96%;
    margin-left: 30px;
    background-image: linear-gradient(to right, #804987, transparent);
}
.evt-type-8{ /* Comando: Comandon desconhecido usado em R101.RDT */
    width: 96%;
    margin-left: 30px;
    background-image: linear-gradient(to right, #bd93a3d6, transparent);
}
.evt-type-9{ /* Comando: Trocar Cor do Texto */
    width: 96%;
    margin-left: 30px;
    background-image: linear-gradient(to right, #00950b, transparent);
}
.evt-type-11{ /* Comando: Selecionar Opção */
    width: 96%;
    margin-left: 30px;
    background-image: linear-gradient(to right, #a29d00, transparent);
}
.camPreview{
    display: none;
    height: 260px;
    padding-top: 10px;
    box-shadow: 0 0 10px #41419c;
}
.botao-add-comando{
    width: 99%;
    border: none;
    cursor: pointer;
    margin-top: 2px;
    padding-top: 4px;
    margin-bottom: 2px;
    border-radius: 4px;
    padding-bottom: 4px;
    font-style: oblique;
    background-image: linear-gradient(to bottom, #fff, #c4c4c4);
}
.btn-remover-comando{
    color: #0f0;
    float: right;
    border: none;
    width: 100px;
    cursor: pointer;
    margin-top: 5px;
    padding-top: 5px;
    margin-right: 8px;
    border-radius: 6px;
    padding-bottom: 7px;
    background-color: #000;
    box-shadow: 0 0 5px #383838;
}
.btn-editMSGfix{
    z-index: 4;
    width: 80px;
}
.msg-render{
    margin-bottom: 10px;
}
.msg-command-text-fix{
    left: 82px;
    width: 550px;
    position: sticky;
    margin-top: -18px;
    text-align: -webkit-left;
}
.dialog-addcomando{
    top: 208px;
    left: 66px;
    width: 58%;
    height: auto;
    display: none;
    padding-top: 4px;
    position: absolute;
    padding-left: 20px;
    border-radius: 6px;
    padding-right: 20px;
    padding-bottom: 4px;
    text-align: -webkit-center;
    box-shadow: 0 0 20px #07072f;
    background-image: linear-gradient(to bottom, #473cab, #251d65);
}
.RDT-holder{
    width: 1288px;
    height: 476px;
    overflow: auto;
    margin-top: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 14px;
}
.RDT-Item{
    color: #fff;
    padding: 6px;
    border-radius: 6px;
    margin-bottom: 6px;
}
.RDT_coordsHolder_A{
    margin-top: 8px;
}
.RDT_coordsHolder_B{
    margin-top: -5px;
}
.RDT_coordsHolder_C{
    margin-top: 5px;
}
.RDT-item-bg{
    background-image: linear-gradient(to bottom, #5755bd, #3a397d);
}
.RDT-file-bg{
    background-image: linear-gradient(to bottom, #796293, #433850);
}
.RDT-map-bg{
    background-image: linear-gradient(to bottom, #4e8b72, #275046);
}
.RDT-msg-bg{
    background-image: linear-gradient(to bottom, #7f8470, #2e322a);
}
.RDT-itemDANGER-bg{
    background-image: linear-gradient(to bottom, #ff0000, #9c0000);
}
.RDT-door-bg{
    background-image: linear-gradient(to bottom, #507499, #273c50);
}
.RDT-MSGCODE-bg{
    background-image: linear-gradient(to bottom, #17504d, #0a2829);
}
.RDT-audio-bg{
    background-image: linear-gradient(to bottom, #354354, #111b33);
}
.RDT-enemy-bg{
    background-image: linear-gradient(to bottom, #516b61, #0f432f);
}
.RDT-camera-bg{
    background-image: linear-gradient(to bottom, #5a6282, #323544);
}
.txtarea-hex-fix{
    height: 128px;
    margin-top: 8px;
}
.RDT-item-editOtherFix{
    position: absolute;
    left: 154px;
    top: 266px;
}
.RDT_itemEditOtherLeftFix{
    position: sticky;
    left: 980px !important;
}
.RDT-valueEdit-fix{
    width: 50px !important;
}
.user-can-select{
    user-select: all;
}
.RDT-item-lbl-fix{
    position: sticky;
    left: 82px;
}
.RDT-item-lbl-fix-2{
    position: sticky;
    left: 208px;
}
.RDT-item-lbl-fix-3{
    position: sticky;
    left: 242px;
}
.RDT-item-lbl-fix-4{
    position: sticky;
    left: 428px;
}
.RDT-item-lbl-fix-5{
    position: sticky;
    left: 576px;
}
.RDT-item-lbl-fix-6{
    position: sticky;
    left: 256px;
}
.RDT-item-lbl-fix-7{
    position: sticky;
    left: 928px;
    width: 56px;
}
.RDT-item-lbl-fix-8{
    position: sticky;
    left: 324px;
}
.RDT-item-lbl-fix-9{
    position: sticky;
    left: 910px;
    width: 56px;
}
.RDT-item-lbl-fix-10{
    position: sticky;
    left: 1096px;
    width: 56px;
}
.RDT_editSelectEnemyNPC-fix{
    width: 380px !important;
    margin-left: 5px;
    position: sticky;
}
.RDT_editParamMSGCODE{
    width: 470px !important;
    left: 830px !important;
}
.RDT_door_textEditFix_0{
    left: 857px;
    width: 52px;
    position: sticky;
}
.RDT_door_textEditFix_1{
    width: 52px;
    left: 1036px;
    position: sticky;
}
.RDT_door_textEditFix_2{
    width: 52px;
    left: 1238px;
    position: sticky;
}
.RDT_door_textEditFix_3{
    width: 52px;
}
.RDT_door_textEditFix_4{
    left: 854px;
    width: 444px;
    position: sticky;
}
.RDT_door-edit-posFix{
    left: 780px !important;
    width: 520px !important;
}
.menu-utility-fix{
    top: 526px;
}
.aba-utility-fix-2{
    top: -20px;
    display: none;
    position: absolute;
    cursor: unset !important;
    background-image: linear-gradient(to bottom, #737373, #545454);
    animation-timing-function: cubic-bezier(0.72, 0.01, 0.26, 0.99);
}
.aba-utility-fix{
    top: 484px;
    display: none;
    position: absolute;
    cursor: unset !important;
    background-image: linear-gradient(to bottom, #737373, #545454);
    animation-timing-function: cubic-bezier(0.72, 0.01, 0.26, 0.99);
}
.RDT_editEnemyNPC-misc{
    position: absolute;
    width: 220px;
    left: 182px;
    top: 128px;
}
.RDT_doorNextPosFix{
    position: absolute;
    left: 148px;
    top: 61px;
}
.RDT_enemyNPC_editForm-fix{
    width: 490px !important;
    left: 808px !important;
}
.RDT_doorOtherFix{
    top: 61px;
    left: 325px;
    position: absolute;
}
.RDT_btn_fix1{
    top: 174px;
    left: 166px;
    padding: 16px;
    position: absolute;
}
.RDT_msg_block_health{
    text-align: -webkit-center;
    font-size: -webkit-xxx-large;
}
.RDT-message-content{
    width: 78%;
    min-height: 18px;
    margin-top: -18px;
    margin-left: 88px;
    text-align: -webkit-left;
}
.RDT_msgLblErrorAtualLen{
    position: sticky;
    left: 109px;
}
.logo-fundo{
    top: 32%;
    left: 42%;
    z-index: -1;
    opacity: 0.4;
    filter: blur(2px);
    position: absolute;
}
.RDT_MSGCODE-eDisplay{
    width: 318px !important;
}
.RDT-Item-Misc{
    width: 30%;
    left: 120px;
    height: 70px;
    position: sticky;
    margin-top: -73px;
    padding-left: 10px;
}
.RDT-Item-Misc-2{
    width: 30%;
    left: 278px;
    height: 70px;
    position: sticky;
    margin-top: -70px;
    padding-left: 10px;
}
.RDT-Item-Misc-3{
    width: 30%;
    left: 446px;
    height: 70px;
    position: sticky;
    margin-top: -70px;
    padding-left: 10px;
}
.RDT-Item-Misc-4{
    width: 30%;
    left: 242px;
    height: 70px;
    position: sticky;
    margin-top: -70px;
    padding-left: 10px;
}
.RDT-Item-Edit{
    top: 53px;
    left: 750px;
    padding: 6px;
    width: 550px;
    height: 468px;
    border-radius: 6px;
    position: absolute;
    background-image: linear-gradient(to bottom, #5c6499, #192432);
}
.new_update{
    top: 6px;
    left: 8px;
    color: #fff;
    width: 1326px;
    height: 616px;
    position: absolute;
    border-radius: 6px;
    background-image: linear-gradient(to bottom, #4d4d4d, #151b26);
}
.update_details{
    width: 98%;
    color: #fff;
    height: 486px;
    overflow: auto;
    margin-top: 4px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 6px;
    margin-bottom: 10px;
    text-align: -webkit-left;
    background-image: linear-gradient(to bottom, #0e0e0e, #29273300);
}
.li_div{
    overflow: auto;
}
.center{
    float: center;
}
.code{
    padding: 4px;
    color: #bfffc1;
    user-select: all;
    border-radius: 4px;
    font-family: monospace;
    background-color: #010101;
    box-shadow: 0 0 10px #bfffc12b;
}
.update_subtitle{
    font-size: x-large;
    font-style: italic;
}
.mod_menu{
    top: 80%;
}
.update_progress_window{
    top: 558px;
    height: 44px;
    width: 1306px;
    padding: 10px;
    position: absolute;
    border-radius: 6px;
    text-align: -webkit-left;
    background-image: linear-gradient(to bottom, #4f4566, #1a1624);
}
.progressBar{
    width: 0.1%;
    height: 6px;
    margin-top: 4px;
    border-radius: 6px;
    margin-bottom: 8px;
    background-color: #0f0;
    box-shadow: 0 0 10px #26562e;
}
.WZ_info{
    padding: 4px;
}
.btn-apply-fix{
    margin-top: -4px;
}
.btn-goBack-fix{
    top: 10px;
    left: 616px;
    position: absolute;
    box-shadow: 0 0 6px #2b2b2b;
}
.wizard{
    top: 28%;
    left: 28%;
    width: 640px;
    height: auto;
    padding: 10px;
    position: absolute;
    margin-left: -50px;
    border-radius: 6px;
    background-color: #4c4c4c;
}
.RDT_BG_IMAGE{
    top: 16px;
    left: 10px;
    opacity: 1;
    z-index: -1;
    height: 516px;
    width: 1306px;
    filter: blur(2px);
    border-radius: 6px;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.fileList{
    top: 54px;
    width: 50%;
    z-index: 2;
    padding: 6px;
    height: 514px;
    border-radius: 6px;
    position: absolute;
    background-image: linear-gradient(to bottom, #3f3f3f, #505050);
}
.fileList_files{
    top: 70px;
    width: 658px;
    padding: 6px;
    height: auto;
    overflow: auto;
    position: absolute;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #626262, #151515);
}
.fileList_img{
    width: 134px;
    border-radius: 4px;
}
.fileList_item{
    padding: 4px;
    height: 100px;
    cursor: pointer;
    margin-bottom: 4px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.fileList_details{
    margin-top: -104px;
    margin-left: 138px;
}
.fileList_item_color_a{
    background-image: linear-gradient(to right, #7a7a92, transparent);
}
.fileList_item_color_b{
    background-image: linear-gradient(to right, #353592, transparent);
}
.fileList_item_color_c{
    background-image: linear-gradient(to right, #2a2a6f, transparent);
}
.blockInfo_fix{
    left: 972px;
    height: 449px;
    box-shadow: 0 0 10px #a2a2a247;
}
.msg_holder_fix{
    width: 942px;
}
/*
    Item Map
*/
.divCanvas{
    left: 62px;
    border: 2px;
    width: 430px;
    height: 430px;
    margin-left: 2px;
    border-radius: 2px;
    border-color: #fff;
    position: absolute;
    border-style: solid;
    background-color: #000;
    background-position: center;
    background-image: url('../Img/Grade.png');
}
.render-item{
    top: 0px;
    left: 0px;
    z-index: 4;
    color: #fff;
    width: 18px;
    height: 18px;
    position: absolute;
    text-align: -webkit-center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.render-item-select{
    box-shadow: 0 0 16px #fff;
}
.render-item-color-1{ /* Item */
    text-shadow: 0 0 2px #124800;
    background-image: linear-gradient(to bottom, #1aac00, #2c7300);
}
.render-item-color-2{ /* File */
    text-shadow: 0 0 2px #aa98df;
    background-image: linear-gradient(to bottom, #776191, #2a3e53);
}
.render-item-color-3{ /* Map */
    text-shadow: 0 0 2px #00ff99;
    background-image: linear-gradient(to bottom, #4d8a71, #275046);
}
.infoXY0{
    top: 14px;
    left: 10px;
    position: absolute;
}
.infoXY1{
    top: 450px;
    left: 500px;
    position: absolute;
}
.infoXY2{
    top: 14px;
    left: 500px;
    position: absolute;
}
.infoXY3{
    left: 8px;
    top: 450px;
    position: absolute;
}
.canvasInfos{
    background-image: linear-gradient(to bottom, #555, #333);
    border-radius: 6px;
    position: absolute;
    padding: 6px;
    width: 470px;
    left: 560px;
    top: 46px;
}
.box-fix{
    left: 60px;
    width: 40px;
    position: sticky;
}
.secondfieldSticky{
    position: sticky;
    left: 756px;
}
.canvasInfoOverflow{
    padding-right: 10px;
    overflow: auto;
    height: 324px;
}
.RDT_door_cameraCopyPasteFix{
    margin-bottom: 2px;
    margin-top: 6px;
}
/*
    File Gen
*/
.FG_CANVAS{
    zoom: 2;
    left: 400px;
    width: 256px;
    height: 176px;
    overflow: hidden;
    position: absolute;
    background-color: #000;
    box-shadow: 0 0 10px #616161d9;
}
.FG_TEXT{
    z-index: 9;
    color: #0f0;
    border: 2px;
    resize: none;
    width: 772px;
    height: 422px;
    font-size: medium;
    position: absolute;
    border-color: #fff;
    border-style: solid;
    background-color: #141414;
}
.FG_BTN{
    top: 422px;
    left: 808px;
    width: 492px;
    position: absolute;
}
/*
    RDT Door Edit Prev
*/
.imgPreviewCamSpawn{
    width: 352px;
    margin-top: 6px;
    box-shadow: 0 0 10px #858dbfa3;
}
.RDT_cam_holderInfos{
    margin-left: 226px;
    position: sticky;
    width: 63.2%;
}
.RDT_editCam_direction{
    top: -3px;
    width: 30%;
    left: 134px;
    height: 70px;
    position: relative;
    margin-top: -106px;
}
.RDT_camImgItem{
    width: 218px;
    border-radius: 6px;
    box-shadow: 0 0 4px #222;
}
.RDT_camShowMisc{
    top: -1px;
    width: 34%;
    left: 292px;
    position: relative;
}
.RDT_camFutureFix{
    position: sticky;
    left: 600px;
}
.RDT_camEditXYZOrigin{
    width: 56px;
}
.RDT_camEditXYZDirection{
    position: absolute;
    left: 168px;
    top: 61px;
}
.RDT_camEditFixForm{
    width: 340px;
    left: 960px;
}
/*
    File list
*/
.fileList_aba_holder{
    position: absolute;
    top: -6px;
}
/*
    TIM Patcher
*/
.timPatcher_length{
    width: 34px;
}
.timPatcher_titulo{
    text-shadow: 0 0 10px #9d40a9;
}
.timPatcher_infos{
    position: sticky;
    left: 482px;
}
.timPatcher_menu{
    margin-top: 10px;
}
.timPatcher_holder{
    top: 254px;
    left: 370px;
    color: #fff;
    width: 560px;
    padding: 10px;
    display: none;
    position: absolute;
    border-radius: 6px;
    background-image: linear-gradient(to bottom, #666, #222);
}
/*
    RE3 LIVE STATUS
*/
.RE3_LIVESTATUS{
    top: 48px;
    z-index: 10;
    padding: 6px;
    width: 1313px;
    height: 564px;
    border-radius: 6px;
    position: absolute;
    box-shadow: 0 0 10px #222;
    background-image: linear-gradient(to bottom, #424242, #333);
}
.RE3_LIVESTATUS_CLOSEBTN{
    position: absolute;
    left: 1256px;
    top: 14px;
}
.RE3_LIVESTATUS_MENU{
    background-image: linear-gradient(to bottom, #636363, #181818);
    border-radius: 6px;
    height: 484px;
    padding: 6px;
}
.RE3_LIVESTATUS_ABACONTENT{
    background-image: linear-gradient(170deg, #222, #03001ee3);
    border-radius: 6px;
    height: 472px;
    padding: 6px;
}
.RE3_LIVESTATUS_abaFix{
    margin-top: 4px !important;
}
.RE3_LIVESTATUS_MINIWINDOW{
    background-image: linear-gradient(to bottom, #454545, #333);
    position: absolute;
    border-radius: 6px;
    padding: 6px;
}
.RE3_LIVESTATUS_inernalTab{
    color: #fff;
    border: none;
    padding-top: 4px;
    position: absolute;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 4px;
    cursor: unset !important;
    background-color: #454545;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-shadow: 0 0 10px #010101;
}
.RE3_LIVESTATUS_CAM_IMG{
    box-shadow: 0 0 10px #222222a6;
    border-radius: 6px;
    margin-top: 8px;
    width: 268px;
}
.RE3_LIVESTATUS_CANVAS_CSS{
    background-image: linear-gradient(to bottom, #111, #000);
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
    height: 438px;
    width: 438px;
}
.RE3_LIVECANVAS_TESTICON_CSS{
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    position: absolute;
    background-image: url('../Img/arrow.png');
}
.RE3_LIVESTATUS_closeGameBtnFix{
    margin-left: 38px;
}
.RE3_LIVESTATUS_INVENT_BG{
    color: #fff;
    height: 326px;
    border-radius: 2px;
    background-color: #000041;
}
.RE3_LIVESTATUS_INPUTNUM{
    width: 44px;
}
.RE3_LIVESTATUS_SELECT{
    width: 274px;
}
.RE3_LIVESTATUS_APPLYBTNFIX{
    float: right;
    margin-top: 12px;
    padding-left: 26px;
    padding-right: 26px;
}
.RE3_LIVESTATUS_lbl_window-1-fix{
    position: sticky;
    left: 158px;
}
.RE3_LIVESTATUS_lbl_window-2-fix{
    position: sticky;
    left: 146px;
}
.RE3_LIVESTATUS_lbl_window-3-fix{
    position: sticky;
    left: 158px;
}
/* Original location */
.RE3_LIVESTATUS_lbl_window-4-fix{
    position: sticky;
    left: 444px;
}
/* XYZR */
.RE3_LIVESTATUS_lbl_window-5-fix{
    position: sticky;
    left: 368px;
}
/* HP & IGT */
.RE3_LIVESTATUS_lbl_window-6-fix{
    position: sticky;
    left: 68px;
}
/* XYZR in decimal */
.RE3_LIVESTATUS_lbl_window-7-fix{
    position: sticky;
    left: 616px;
}

.RE3_LIVESTATUS_WINDOW-1{
    height: 104px;
    width: 240px;
    top: 106px;
}
.RE3_LIVESTATUS_WINDOW-2{
    height: 160px;
    width: 240px;
    top: 248px;
}
.RE3_LIVESTATUS_WINDOW-3{
    height: 442px;
    width: 368px;
    left: 468px;
    top: 106px;
}
.RE3_LIVESTATUS_WINDOW-4{
    height: 442px;
    width: 442px;
    left: 854px;
    top: 106px;
}
.RE3_LIVESTATUS_WINDOW-5{
    height: 326px;
    width: 174px;
    left: 276px;
    top: 106px;
}
.RE3_LIVESTATUS_WINDOW-6{
    height: 80px;
    width: 434px;
    left: 18px;
    top: 468px;
}
.RE3_LIVESTATUS_tabPos-1{
    left: 28px;
    top: 86px;
}
.RE3_LIVESTATUS_tabPos-2{
    left: 28px;
    top: 228px;
}
.RE3_LIVESTATUS_tabPos-3{
    left: 478px;
    top: 86px;
}
.RE3_LIVESTATUS_tabPos-4{
    left: 864px;
    top: 86px;
}
.RE3_LIVESTATUS_tabPos-5{
    left: 286px;
    top: 86px;
}
.RE3_LIVESTATUS_tabPos-6{
    left: 28px;
    top: 446px;
}

.RE3_LIVESTATUS_X_color{
    color: #ffe6e6;
    text-shadow: 0 0 10px #4d0000;
}
.RE3_LIVESTATUS_Y_color{
    color: #cdffc2;
    text-shadow: 0 0 10px #cef6bd94;
}
.RE3_LIVESTATUS_Z_color{
    color: #e0e1ff;
    text-shadow: 0 0 10px #a5a5ff;
}
.RE3_LIVESTATUS_R_color{
    color: #e9b0ef;
    text-shadow: 0 0 10px #b74fc3c7;
}
.RE3_LIVESTATUS_INVENT_ICON_BASE{
    zoom: 2;
    cursor: pointer;
    position: fixed;
    margin-top: -2px;
}
.RE3_LIVESTATUS_INVENT_ROW_1{
    top: 80px;
    margin-top: 0px !important;
}
.RE3_LIVESTATUS_INVENT_ROW_2{
    top: 112px;
    margin-top: 0px !important;
}
.RE3_LIVESTATUS_INVENT_ROW_3{
    top: 144px;
    margin-top: 0px !important;
}
.RE3_LIVESTATUS_INVENT_ROW_4{
    top: 176px;
    margin-top: 0px !important;
}
.RE3_LIVESTATUS_INVENT_ROW_5{
    top: 208px;
    margin-top: 0px !important;
}
.RE3_LIVESTATUS_LBL_ITEM{
    z-index: 1;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    display: -webkit-box;
}
.RE3_LIVESTATUS_LBL_ITEM_A{
    left: 8px;
    width: 40px;
}
.RE3_LIVESTATUS_LBL_ITEM_B{
    left: 94px;
    width: 40px;
}
.RE3_LIVESTATUS_LBL_ITEM_ADJUST-1{
    top: 44px;
    left: 14px;
}
.RE3_LIVESTATUS_LBL_ITEM_ADJUST-2{
    top: 44px;
    left: 102px;
}
.RE3_LIVESTATUS_LBL_ITEM_ADJUST-3{
    top: 108px;
    left: 14px;
}
.RE3_LIVESTATUS_LBL_ITEM_ADJUST-4{
    top: 108px;
    left: 102px;
}
.RE3_LIVESTATUS_LBL_ITEM_ADJUST-5{
    top: 174px;
    left: 14px;
}
.RE3_LIVESTATUS_LBL_ITEM_ADJUST-6{
    top: 174px;
    left: 102px;
}
.RE3_LIVESTATUS_LBL_ITEM_ADJUST-7{
    top: 240px;
    left: 14px;
}
.RE3_LIVESTATUS_LBL_ITEM_ADJUST-8{
    top: 240px;
    left: 102px;
}
.RE3_LIVESTATUS_LBL_ITEM_ADJUST-9{
    top: 304px;
    left: 14px;
}
.RE3_LIVESTATUS_LBL_ITEM_ADJUST-10{
    top: 304px;
    left: 102px;
}
/*
    INI Editor
*/
.INI_general_adjust{
    position: sticky;
    left: 146px;
}
.INI_MINIWINDOW{
    background-image: linear-gradient(to bottom, #454545, #333);
    position: absolute;
    border-radius: 6px;
    padding: 6px;
}
.INI_inernalTab{
    color: #fff;
    border: none;
    padding-top: 4px;
    position: absolute;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 4px;
    cursor: unset !important;
    background-color: #454545;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-shadow: 0 0 10px #010101;
}
.INI_insertVal{
    width: 68px !important;
}
.INI_rangeAudio{
    width: 190px !important;
    margin-left: 10px;
}
.INI_rangeAudio_fix{
    margin-left: 26px;
}
.INI_fixAudioNumberInput{
    position: sticky;
    left: 120px;
}
.INI_selectBPP{
    width: 78px !important;
}
.INI_videoOptionsFix{
    position: absolute;
    left: 166px;
    top: 6px;
}
.INI_pathTextFix{
    width: 338px;
    margin-top: 8px;
}
.INI_fixMenuSeparador{
    margin-top: 14px;
}
.INI_adjustPos1{
    position: sticky;
    width: 740px;
    left: 540px;
}
.INI_adjustPos2{
    position: sticky;
    left: 942px;
}
.INI_pathRofsFix{
    position: absolute;
    left: 406px;
    top: 150px;
}
.INI_fixInputKB{
    position: sticky;
    margin-top: 6px;
    width: 206px;
    left: 450px;
}
.INI_direct_fixInputKB{
    position: sticky;
    margin-top: 6px;
    width: 366px;
    left: 276px;
}
.INI_fixInputKB_2{
    position: sticky;
    margin-top: 6px;
    left: 900px;
}
.INI_direct_fixInputKB_2{
    position: sticky;
    margin-top: 6px;
    width: 366px;
    left: 724px;
}
.title_mini{
    font-size: x-large;
    text-shadow: 0 0 10px #818181;
}
.INI_clearBtnFix{
    position: absolute;
    left: 322px;
    top: 8px;
}
.INI_dataVars{
    position: sticky;
    margin-top: 6px;
    width: 200px;
    left: 830px;
}
.INI_displayDivFix{
    margin-left: 4px;
}
.INI_displaySelectFix{
    margin-top: 0px;
    padding: 2px;
    width: 110px;
}
.INI_tabPos-1{
    left: 28px;
    top: 46px;
}
.INI_tabPos-2{
    left: 28px;
    top: 168px;
}
.INI_tabPos-3{
    left: 28px;
    top: 298px;
}
.INI_tabPos-4{
    left: 28px;
    top: 428px;
}
.INI_tabPos-5{
    left: 494px;
    top: 72px;
}
.INI_tabPos-6{
    left: 228px;
    top: 56px;
}
.INI_tabPos-7{
    left: 682px;
    top: 224px;
}
.INI_tabPos-8{
    left: 682px;
    top: 56px;
}
.INI_WINDOW-1{
    height: 80px;
    width: 442px;
    left: 18px;
    top: 68px;
}
.INI_WINDOW-2{
    height: 88px;
    width: 442px;
    left: 18px;
    top: 190px;
}
.INI_WINDOW-3{
    height: 88px;
    width: 442px;
    left: 18px;
    top: 320px;
}
.INI_WINDOW-4{
    height: 60px;
    width: 442px;
    left: 18px;
    top: 450px;
}
.INI_WINDOW-5{
    height: 410px;
    width: 812px;
    left: 482px;
    top: 94px;
}
.INI_WINDOW-6{
    height: 436px;
    width: 432px;
    left: 216px;
    top: 78px;
}
.INI_WINDOW-7{
    height: 228px;
    width: 354px;
    left: 670px;
    top: 246px;
}
.INI_WINDOW-8{
    height: 128px;
    width: 354px;
    left: 670px;
    top: 78px;
}
/*
    Settings
*/
.SETTINGS_slider{
    width: 200px !important;
}
.SETTINGS_MENUBTNFIX{
    margin-top: 6px !important;
    width: 370px;
}
.SETTINGS_ABA-1{
    left: 24px;
    top: 56px;
}
.SETTINGS_ABA-2{
    left: 424px;
    top: 56px;
}
.SETTINGS_ABA-3{
    left: 858px;
    top: 56px;
}
.SETTINGS_ABA-4{
    left: 24px;
    top: 146px;
}
.SETTINGS_WINDOW-1{
    height: 48px;
    width: 374px;
    left: 14px;
    top: 78px;
}
.SETTINGS_WINDOW-2{
    height: 220px;
    width: 408px;
    left: 414px;
    top: 78px;
}
.SETTINGS_WINDOW-3{
    height: 278px;
    width: 374px;
    left: 848px;
    top: 78px;
}
.SETTINGS_WINDOW-4{
    height: 116px;
    width: 374px;
    left: 14px;
    top: 168px;
}
.SETTINGS_FUTURE{
    position: absolute;
    width: 300px;
    left: 40px;
    top: 70px;
}