::-webkit-scrollbar{
    width: 8px;
    border-radius: 4px;
}
::-webkit-scrollbar-track{
    background: #292929;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb{
    background: #e7e7e7;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover{
    background: #fafafa; 
    border-radius: 4px;
}
html{
    -webkit-user-select: none;
}
img{
    -webkit-user-drag: none;
}
body{
    background-image: linear-gradient(to bottom, #000, #0f0c23);
	color: #fff;
}
u{
    text-shadow: 0 0 10px #ff000063;
}
a{
    color: #fff;
}
audio{
    width: 100%;
}
input[type="range" i]{
    position: relative;
    margin-right: 6px;
    margin-top: 4px;
    width: 82%;
    top: 6px;
}
.updater_title_holder, li{
    margin-top: 6px;
}
.padding-left{
    padding-left: 4px;
}
.red{
    color: #f00;
    text-shadow: 0 0 10px #ff8e8e;
}
.green{
    color: #0f0;
    text-shadow: 0 0 10px #0f0;
}
.RDT_lbl_pointers{
    left: 200px;
    width: 1090px;
    position: sticky;
    margin-top: -18px;
}
.blockUsage{
    top: 596px;
    width: 934px;
    padding: 6px;
    height: auto;
    display: none;
    position: absolute;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #555, #222);
}
.feature_title{
    font-size: x-large;
    text-shadow: 0 0 10px #555;
    text-decoration: underline;
}
.about{
    background-image: linear-gradient(to bottom, #442d59, #0e0b22);
    border-radius: 230px;
    position: absolute;
    padding: 34px;
    left: 110px;
    width: 80%;
    top: 72px;
}
.appLogo{
    width: 200px;
}
.about-tks{
    border-radius: 6px;
    overflow: auto;
    height: 108px;
    width: 80%;
}
.textLOGO{
    color: #fff;
    text-shadow: 0 0 10px #f00;
    font-size: xx-large;
}
.msg-legenda-sticky{
    position: sticky;
    left: 50px;
}
.btn-apply-small{
    width: 30%;
}
.menu-topo{
    width: 98%;
    padding: 6px;
    height: auto;
    position: absolute;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #555, #222);
}
.botao-menu{
	color: #0f0;
	border: none;
    cursor: pointer;
	margin-left: 2px;
	padding-top: 4px;
	padding-left: 10px;
	border-radius: 4px;
	padding-bottom: 4px;
	padding-right: 10px;
	text-shadow: 0 0 10px #888;
	background-image: linear-gradient(to bottom, #202020, #000);
}
.botao-aplicar{
    color: #fff;
    box-shadow: 0 0 4px #002808;
    text-shadow: 0 0 10px #1cff00;
    background-image: linear-gradient(to bottom, #009a3a, #003f18);
}
.info-icon-holder{
    margin-top: 8px;
}
.menu{
    top: 84px;
    width: 98%;
    z-index: 1;
    padding: 6px;
    height: 530px;
    overflow: auto;
    position: absolute;
    border-radius: 6px;
    background-color: #444;
}
.log-text{
    width: 99%;
    color: #0f0;
    text-shadow: 0 0 5px #367948;
}
.log-warn{
    width: 99%;
    color: #fffc84;
    text-shadow: 0 0 5px #8a8c2b;
}
.log-error{
    width: 99%;
    color: #ffbdbd;
    margin-top: 4px;
    margin-bottom: 4px;
    text-shadow: 0 0 5px #793636;
}
.log-holder{
    top: 622px;
    width: 98%;
    color: #0f0;
    padding: 6px;
    height: 88px;
    overflow: auto;
    margin-top: 4px;
    position: absolute;
    border-radius: 6px;
    background-color: #191919;
}
.menu-general-content{
    z-index: 1;
    color: #fff;
    padding: 4px;
    height: 520px;
    margin-top: 2px;
    border-radius: 6px;
    text-shadow: 0 0 5px #367948;
    background-image: linear-gradient(to bottom, #212121c7, #000123b5);
}
.menu-geral-text{
	position: sticky;
    left: 176px;
}
.RDT-menu-geral-text{
    position: sticky;
    left: 200px;
}
.menu-general-btn{
    left: 1230px;
    margin-top: 1px;
    position: sticky;
    padding-top: 2px;
    padding-bottom: 2px;
}
.menu-separador{
	background-image: linear-gradient(to right, #fff, #fff0);
	border-radius: 4px;
	margin-bottom: 4px;
	margin-top: 4px;
	height: 2px;
	color: #fff;
	width: 78%;
}
.separador-log-fix{
    background-image: linear-gradient(to right, #0f0, #0000);
    box-shadow: 0 0 10px #00330096;
    width: 90%;
}
.box-fix-lbl{
    margin-top: -22px;
    cursor: pointer;
}
.b-icon{
    width: 560px;
    cursor: pointer;
}
.b-label{
    margin-top: -8.7px;
    margin-left: 75px;
    display: flex;
}
.inventario{
    overflow: hidden;
    height: 406px;
    width: 218px;
    background-color: #000040;
    border-radius: 4px;
}
.invent-principal{
    cursor: pointer;
    position: fixed;
    width: 1065px;
}
.invent-01{
    top: 182px;
    left: 1090px;
}
.invent-02{
    top: 182px;
    left: 1195px;
}
.invent-03{
    top: 263px;
    left: 1090px;
}
.invent-04{
    top: 263px;
    left: 1195px;
}
.invent-05{
    top: 344px;
    left: 1090px;
}
.invent-06{
    top: 344px;
    left: 1195px;
}
.invent-07{
    top: 424px;
    left: 1090px;;
}
.invent-08{
    top: 424px;
    left: 1195px;
}
.invent-09{
    top: 504px;
    left: 1090px;
}
.invent-10{
    top: 504px;
    left: 1195px;
}
.b-quant-lbl{
	z-index: 1;
    width: 50px;
    position: relative;
    margin-top: -26px;
    margin-left: -578px;
    font-size: 20px;
    display: -webkit-box;
    cursor: pointer;
    text-shadow: 0 0 4px #bfbfbf85;
}
.menu-re3-box{
    top: 154px;
    left: 49.2%;
    width: 31.2%;
    height: 456px;
    position: fixed;
    overflow: hidden;
    padding-top: 10px;
    border-radius: 4px;
    background-color: #000018;
}
.info-details{
    top: 376px;
    left: 664px;
    color: #fff;
    width: 390px;
    padding: 6px;
    height: 222px;
    border: solid;
    position: fixed;
    border-color: #e7e7e7;
    text-align: -webkit-left;
    background-color: #0c0c52;
}
.title-inv{
    font-style: italic;
    font-family: sans-serif;
}
.invent-fix{
    top: 152px;
    left: 80.5%;
	width: 16.2%;
    padding: 10px;
    height: 446px;
    overflow: auto;
    margin-top: 2px;
	position: fixed;
    border-radius: 4px;
    background-color: #00001f;
}
.bau-item{
    background-color: #000039;
    border-radius: 6px;
    margin-top: 4px;
    height: 45px;
    color: #fff;
    width: 100%;
    z-index: 1;
}
.item-box{
    width: 47.6%;
    padding: 10px;
    height: 446px;
    overflow: auto;
    margin-top: 2px;
    border-radius: 4px;
    background-color: #00001f;
}
.item-counter-invent-1{
    z-index: 1;
    position: relative;
    margin-left: -172px;
    margin-top: 54px;
    font-size: x-large;
    display: -webkit-box;
    cursor: pointer;
    width: 40px;
}
.item-counter-invent-2{
    z-index: 1;
    position: relative;
    margin-top: -27px;
    margin-left: 40px;
    font-size: x-large;
    display: -webkit-box;
    cursor: pointer;
    width: 40px;
}
.textbox{
    background-color: #000;
    border-color: #a7a7a7;
    border-style: solid;
    width: 214px;
    padding: 2px;
    color: #0f0;
}
.slot-presente{
    background-color: #03a700;
}
.slot-ausente{
    background-color: #aaa;
}
.slot-easy{
    color: #00f;
}
.slot-save{
    height: 20px;
    width: 186px;
    cursor: pointer;
    margin-top: 4px;
    padding-top: 4px;
    margin-left: 0px;
    padding-bottom: 2px;
    text-align: -webkit-center;
    display: -webkit-inline-box;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.save-grid{
    position: absolute;
    width: 1300px;
}
.save-number{
    color: #000;
    width: 25px;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #fff;
    text-shadow: 0 0 0 #000;
    text-align: -webkit-center;
    display: -webkit-inline-box;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.txt-status{
    position: fixed;
    margin-top: 14px;
    margin-left: 30px;
    font-size: x-large;
    display: inline-block;
}
.txt-fine{
	color: #0f0;
    text-shadow: 0 0 10px #fff;
}
.txt-caution{
	color: #fff900;
    text-shadow: 0 0 10px #fff;
}
.txt-caution-red{
	color: #ff9b00;
    text-shadow: 0 0 10px #fff;
}
.txt-danger{
	color: #f00;
    text-shadow: 0 0 10px #fff;
}
.txt-poison{
	color: #c29aff;
    text-shadow: 0 0 10px #fff;
}
.status-menu{
    background-color: #000039;
    border-radius: 4px;
    padding-left: 14px;
    height: 51px;
}
.img-person-icon{
    width: 4%;
}
.titulo{
	font-size: xx-large;
    font-style: italic;
}
.none{
	display: none;
}
.right{
	float: right;
}
.aba{
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 50px;
    padding-top: 6px;
    margin-right: 2px;
    padding-left: 16px;
    padding-bottom: 6px;
    padding-right: 16px;
	background-color: #272727;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.aba:focus{
    outline: none;
}
.aba-left-fix{
    outline: none;
	margin-left: 12px;
}
.aba-select{
    outline: none;
    text-shadow: 0 0 6px #000;
    background-image: linear-gradient(to bottom, #696969, #444444);
}
.RDT-item-select{
    position: sticky;
    width: 550px !important;
    left: 740px;
}
.RDT-item-pos{
    position: sticky;
    width: 560px;
    left: 740px;
}
.RDT-btn-apply{
    border: 1px;
    width: 48.5%;
    padding: 16px;
    cursor: pointer;
    margin-left: 4px;
    border-radius: 0px;
    border-style: double;
    box-shadow: 0 0 15px #3d3d3d;
    text-shadow: 0 0 10px #939393;
    background-image: linear-gradient(to bottom, #222, #000);
}
.color-green{
    color: #0f0;
}
.color-white{
    color: #fff;
}
.RDT-applyBtn-div{
    top: 88%;
    width: 98%;
    position: absolute;
}
.menu-alterar-item{
    top: 40%;
    width: 70%;
    z-index: 1;
    left: 13.4%;
    padding-top: 4px;
    position: absolute;
    padding-left: 20px;
    border-radius: 6px;
    padding-right: 20px;
    padding-bottom: 4px;
    text-align: -webkit-center;
    box-shadow: 0 0 20px #0c0c52;
    background-image: linear-gradient(to bottom, #332892, #1e1850);
}
.item-select-mod{
    color: #0f0;
    width: 190px;
    border: none;
    padding-top: 6px;
    margin-top: 10px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    padding-bottom: 6px;
    background-color: #000;
    box-shadow: 0 0 10px #00285087;
    text-shadow: 0 0 10px #ffffff2e;
}
.btn-box{
    top: -20px;
    left: 264px;
    color: #0f0;
    border: none;
    cursor: pointer;
    margin-left: 2px;
    padding-top: 4px;
    padding-left: 10px;
    border-radius: 4px;
    position: relative;
    padding-bottom: 4px;
    padding-right: 10px;
    background-color: #000;
    box-shadow: 0 0 10px #000031;
}
.btn-box-fix{
    top: -25px;
}
.invent-mod-btn{
    top: 34px;
    left: 80px;
    z-index: 99;
    padding: 4px;
    font-size: 10px;
    position: absolute;
    text-decoration: none;
}
.save-alterar-menu{
    top: 14px;
    left: 968px;
    width: 320px;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    background-image: linear-gradient(to bottom, #555, #222);
}
.msg-raw{
    top: 455px;
    width: 926px;
    height: 152px;
    overflow: auto;
    margin-top: 4px;
    padding-top: 6px;
    padding-left: 10px;
    border-radius: 6px;
    position: absolute;
    padding-right: 10px;
    padding-bottom: 6px;
    background-image: linear-gradient(to bottom, #283a29, #13251e);
}
.msg-events{
    top: 44px;
    width: 926px;
    height: 396px;
    margin-top: 4px;
    padding-top: 6px;
    overflow: hidden;
    padding-left: 10px;
    border-radius: 6px;
    position: absolute;
    padding-right: 10px;
    padding-bottom: 6px;
    background-image: linear-gradient(to bottom, #2b3e46, #212121);
}
.msg-traduzido{
    height: 100px;
    overflow: auto;
    margin-top: 4px;
    padding-top: 6px;
    padding-left: 10px;
    border-radius: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    background-image: linear-gradient(to bottom, #595959, #323240);
}
.msg-addcomand-menu{
    top: 48px;
    left: 960px;
    width: 352px;
    height: 350px;
    overflow: auto;
    padding-top: 6px;
    position: absolute;
    padding-left: 10px;
    border-radius: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    background-image: linear-gradient(to bottom, #23215f, #00004a);
}
.msg-hex{
    top: 414px;
    left: 960px;
    width: 351px;
    height: 197px;
    padding-top: 6px;
    position: absolute;
    padding-left: 10px;
    border-radius: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    background-image: linear-gradient(to bottom, #373f42, #1f1e29);
}
.msg-txt-edit{
    margin: 0px;
    color: #0f0;
    width: 338px;
    padding: 6px;
    resize: none;
    border: none;
    height: 138px;
    font-size: 16px;
    border-radius: 6px;
    box-shadow: 0 0 2px #000;
    text-shadow: rgba(255, 255, 255, 0.18) 0px 0px 10px;
    background-image: linear-gradient(to bottom, #151515, #0f0f0f);
}
.title-eventos{
    margin: 0;
    font-size: 30px;
    font-family: Times;
    font-weight: normal;
    font-style: oblique;
    text-shadow: 0 0 2px #00f;
    text-align: -webkit-center;
}
.italic{
    font-style: italic;
    word-wrap: break-word;
}
.div-eventos{
    height: 338px;
    padding: 10px;
    overflow: auto;
    margin-top: 6px;
    border-radius: 6px;
    background-image: linear-gradient(to bottom, #110f15, #131219);
}
.evento{
    margin-top: 1px;
    min-height: 36px;
    padding-top: 4px;
    padding-left: 6px;
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.evt-type-0{ /* Comando: Mostrar Texto */
    width: 96%;
    margin-left: 30px;
    background-image: linear-gradient(to right, #747463, transparent);
}
.evt-type-1{ /* Comando: Reproduzir SE */
    width: 96%;
    margin-left: 30px;
    background-image: linear-gradient(to right, #60698b, transparent);
}
.evt-type-2{ /* Comando: Mostrar Camera */
    width: 96%;
    margin-left: 30px;
    background-image: linear-gradient(to right, #00757ae8, transparent);
}
.evt-type-3{ /* Comando: Mostar Char Especial */
    width: 96%;
    margin-left: 30px;
    background-image: linear-gradient(to right, #82af9a, transparent);
}
.evt-type-4{ /* Comando: Inicalizar / Finalizar Mensagem */
    background-image: linear-gradient(to right, #d20606, transparent);
}
.evt-type-5{ /* Comando: Mostrar Nome de Item */
    width: 96%;
    margin-left: 30px;
    background-image: linear-gradient(to right, #804987, transparent);
}
.evt-type-8{ /* Comando: Comandon desconhecido usado em r101.rdt */
    width: 96%;
    margin-left: 30px;
    background-image: linear-gradient(to right, #bd93a3d6, transparent);
}
.evt-type-9{ /* Comando: Trocar Cor do Texto */
    width: 96%;
    margin-left: 30px;
    background-image: linear-gradient(to right, #00950b, transparent);
}
.evt-type-11{ /* Comando: Selecionar Opção */
    width: 96%;
    margin-left: 30px;
    background-image: linear-gradient(to right, #a29d00, transparent);
}
.camPreview{
    display: none;
    height: 260px;
    padding-top: 10px;
    box-shadow: 0 0 10px #41419c;
}
.botao-add-comando{
    width: 99%;
    border: none;
    cursor: pointer;
    margin-top: 2px;
    padding-top: 4px;
    margin-bottom: 2px;
    border-radius: 4px;
    padding-bottom: 4px;
    font-style: oblique;
    background-image: linear-gradient(to bottom, #fff, #c4c4c4);
}
.btn-remover-comando{
    color: #0f0;
    float: right;
    border: none;
    width: 100px;
    cursor: pointer;
    margin-top: 5px;
    padding-top: 5px;
    margin-right: 8px;
    border-radius: 6px;
    padding-bottom: 7px;
    background-color: #000;
    box-shadow: 0 0 5px #383838;
}
.btn-editMSGfix{
    z-index: 4;
    width: 80px;
}
.msg-render{
    margin-bottom: 10px;
}
.msg-command-text-fix{
    left: 82px;
    width: 550px;
    position: sticky;
    margin-top: -18px;
    text-align: -webkit-left;
}
.dialog-addcomando{
    top: 208px;
    left: 66px;
    width: 58%;
    height: auto;
    display: none;
    padding-top: 4px;
    position: absolute;
    padding-left: 20px;
    border-radius: 6px;
    padding-right: 20px;
    padding-bottom: 4px;
    text-align: -webkit-center;
    box-shadow: 0 0 20px #07072f;
    background-image: linear-gradient(to bottom, #473cab, #251d65);
}
.RDT-holder{
    width: 1288px;
    height: 476px;
    overflow: auto;
    margin-top: 4px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 14px;
}
.RDT-Item{
    color: #fff;
    padding: 6px;
    border-radius: 6px;
    margin-bottom: 6px;
}
.RDT_coordsHolder_A{
    margin-top: 8px;
}
.RDT_coordsHolder_B{
    margin-top: -5px;
}
.RDT-item-bg{
    background-image: linear-gradient(to bottom, #5755bd, #3a397d);
}
.RDT-file-bg{
    background-image: linear-gradient(to bottom, #796293, #433850);
}
.RDT-map-bg{
    background-image: linear-gradient(to bottom, #4e8b72, #275046);
}
.RDT-msg-bg{
    background-image: linear-gradient(to bottom, #7f8470, #2e322a);
}
.RDT-itemDANGER-bg{
    background-image: linear-gradient(to bottom, #ff0000, #9c0000);
}
.RDT-door-bg{
    background-image: linear-gradient(to bottom, #507499, #273c50);
}
.txtarea-hex-fix{
    height: 128px;
    margin-top: 8px;
}
.user-can-select{
    user-select:all;
}
.RDT-item-lbl-fix{
    position: sticky;
    left: 82px;
}
.RDT-item-lbl-fix-2{
    position: sticky;
    left: 208px;
}
.RDT-item-lbl-fix-3{
    position: sticky;
    left: 242px;
}
.RDT-item-lbl-fix-4{
    position: sticky;
    left: 428px;
}
.RDT-item-lbl-fix-5{
    position: sticky;
    left: 576px;
}
.RDT_door_textEditFix_0{
    left: 857px;
    width: 52px;
    position: sticky;
}
.RDT_door_textEditFix_1{
    width: 52px;
    left: 1036px;
    position: sticky;
}
.RDT_door_textEditFix_2{
    width: 52px;
    left: 1238px;
    position: sticky;
}
.RDT_door_textEditFix_3{
    width: 52px;
}
.RDT_door_textEditFix_4{
    left: 854px;
    width: 444px;
    position: sticky;
}
.RDT_door-edit-posFix{
    left: 780px !important;
    width: 520px !important;
}
.menu-utility-fix{
    top: 526px;
}
.aba-utility-fix-2{
    top: -20px;
    display: none;
    position: absolute;
    cursor: unset !important;
    background-image: linear-gradient(to bottom, #737373, #545454);
    animation-timing-function: cubic-bezier(0.72, 0.01, 0.26, 0.99);
}
.aba-utility-fix{
    top: 484px;
    display: none;
    position: absolute;
    cursor: unset !important;
    background-image: linear-gradient(to bottom, #737373, #545454);
    animation-timing-function: cubic-bezier(0.72, 0.01, 0.26, 0.99);
}
.RDT_doorNextPosFix{
    top: 61px;
    left: 148px;
    position: absolute;
}
.RDT_doorOtherFix{
    top: 61px;
    left: 325px;
    position: absolute;
}
.RDT_btn_fix1{
    top: 174px;
    left: 166px;
    padding: 16px;
    position: absolute;
}
.RDT_msg_block_health{
    text-align: -webkit-center;
    font-size: -webkit-xxx-large;
}
.RDT-message-content{
    width: 76%;
    min-height: 18px;
    margin-top: -18px;
    margin-left: 94px;
    text-align: -webkit-left;
}
.RDT_msgLblErrorAtualLen{
    position: sticky;
    left: 109px;
}
.logo-fundo{
    top: 32%;
    left: 42%;
    z-index: -1;
    opacity: 0.4;
    filter: blur(2px);
    position: absolute;
}
.RDT-Item-Misc{
    width: 30%;
    left: 120px;
    height: 70px;
    position: sticky;
    margin-top: -70px;
    padding-left: 10px;
}
.RDT-Item-Misc-2{
    width: 30%;
    left: 278px;
    height: 70px;
    position: sticky;
    margin-top: -70px;
    padding-left: 10px;
}
.RDT-Item-Misc-3{
    width: 30%;
    left: 446px;
    height: 70px;
    position: sticky;
    margin-top: -70px;
    padding-left: 10px;
}
.RDT-Item-Edit{
    top: 53px;
    left: 648px;
    padding: 6px;
    width: 650px;
    height: 468px;
    border-radius: 6px;
    position: absolute;
    background-image: linear-gradient(to bottom, #5c6499, #192432);
}
.new_update{
    top: 6px;
    left: 8px;
    color: #fff;
    width: 1326px;
    height: 616px;
    position: absolute;
    border-radius: 6px;
    background-image: linear-gradient(to bottom, #4d4d4d, #151b26);
}
.update_details{
    width: 98%;
    color: #fff;
    height: 486px;
    overflow: auto;
    margin-top: 4px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 6px;
    margin-bottom: 10px;
    text-align: -webkit-left;
    background-image: linear-gradient(to bottom, #0e0e0e, #29273300);
}
.li_div{
    overflow: auto;
}
.center{
    float: center;
}
.code{
    padding: 4px;
    color: #bfffc1;
    user-select: all;
    border-radius: 4px;
    font-family: monospace;
    background-color: #010101;
}
.update_subtitle{
    font-size: x-large;
    font-style: italic;
}
.mod_menu{
    top: 80%;
}
.update_progress_window{
    top: 558px;
    height: 44px;
    width: 1306px;
    padding: 10px;
    position: absolute;
    border-radius: 6px;
    text-align: -webkit-left;
    background-image: linear-gradient(to bottom, #4f4566, #1a1624);
}
.progressBar{
    width: 0.1%;
    height: 6px;
    margin-top: 4px;
    border-radius: 6px;
    margin-bottom: 8px;
    background-color: #0f0;
    box-shadow: 0 0 10px #26562e;
}
.WZ_info{
    padding: 4px;
}
.btn-apply-fix{
    margin-top: -4px;
}
.btn-goBack-fix{
    top: 10px;
    left: 620px;
    position: absolute;
}
.wizard{
    top: 28%;
    left: 28%;
    width: 640px;
    height: auto;
    padding: 10px;
    position: absolute;
    margin-left: -50px;
    border-radius: 6px;
    background-color: #4c4c4c;
}
.RDT_BG_IMAGE{
    top: 16px;
    left: 10px;
    opacity: 1;
    z-index: -1;
    height: 516px;
    width: 1306px;
    filter: blur(2px);
    border-radius: 6px;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.fileList{
    top: 54px;
    width: 50%;
    z-index: 2;
    padding: 6px;
    height: 514px;
    border-radius: 6px;
    position: absolute;
    background-image: linear-gradient(to bottom, #545454, #505050);
}
.fileList_files{
    width: auto;
    padding: 6px;
    height: auto;
    overflow: auto;
    border-radius: 4px;
    background-color: #222;
    box-shadow: 0 0 10px #3c3c3c;
}
.fileList_img{
    width: 110px;
    border-radius: 4px;
}
.fileList_item{
    padding: 4px;
    height: 82.5px;
    cursor: pointer;
    margin-bottom: 4px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.fileList_details{
    margin-top: -86px;
    margin-left: 116px;
}
.fileList_item_color_a{
    background-image: linear-gradient(to right, #7a7a92, transparent);
}
.fileList_item_color_b{
    background-image: linear-gradient(to right, #353592, transparent);
}
.fileList_item_color_c{
    background-image: linear-gradient(to right, #2a2a6f, transparent);
}
.blockInfo_fix{
    left: 972px;
    height: 449px;
    box-shadow: 0 0 10px #a2a2a247;
}
.msg_holder_fix{
    width: 942px;
}
/*
    Item Map
*/
.divCanvas{
    left: 62px;
    border: 2px;
    width: 430px;
    height: 430px;
    margin-left: 2px;
    border-radius: 2px;
    border-color: #fff;
    position: absolute;
    border-style: solid;
    background-color: #000;
    background-position: center;
    background-image: url("../Img/Grade.png");
}
.render-item{
    top: 0px;
    left: 0px;
    z-index: 4;
    color: #fff;
    width: 18px;
    height: 18px;
    position: absolute;
    text-align: -webkit-center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.render-item-select{
    box-shadow: 0 0 16px #fff;
}
.render-item-color-1{ /* Item */
    text-shadow: 0 0 2px #124800;
    background-image: linear-gradient(to bottom, #1aac00, #2c7300);
}
.render-item-color-2{ /* File */
    text-shadow: 0 0 2px #aa98df;
    background-image: linear-gradient(to bottom, #776191, #2a3e53);
}
.render-item-color-3{ /* Map */
    text-shadow: 0 0 2px #00ff99;
    background-image: linear-gradient(to bottom, #4d8a71, #275046);
}
.infoXY0{
    top: 14px;
    left: 10px;
    position: absolute;
}
.infoXY1{
    top: 450px;
    left: 500px;
    position: absolute;
}
.infoXY2{
    top: 14px;
    left: 500px;
    position: absolute;
}
.infoXY3{
    top: 450px;
    left: 8px;
    position: absolute;
}
.infoXYLine{
    z-index: 3;
    top: 266px;
    left: -26px;
    height: 1px;
    width: 610px;
    position: absolute;
    background-color: #fff;
    transform: rotate(45deg);
    box-shadow: 0 0 10px #b1b1b1;
}
.infoXY2Line{
    z-index: 3;
    top: 266px;
    left: -26px;
    height: 1px;
    width: 610px;
    position: absolute;
    background-color: #fff;
    transform: rotate(135deg);
    box-shadow: 0 0 10px #b1b1b1;
}
.canvasInfos{
    background-image: linear-gradient(to bottom, #555, #333);
    border-radius: 6px;
    position: absolute;
    padding: 6px;
    width: 446px;
    left: 560px;
    top: 46px;
}
.box-fix{
    width: 112px;
}
.secondfieldSticky{
    position: sticky;
    left: 756px;
}
.canvasInfoOverflow{
    padding-right: 10px;
    overflow: auto;
    height: 324px;
}
/*
    Filegen
*/
.FG_CANVAS{
    zoom: 2;
    left: 400px;
    width: 256px;
    height: 176px;
    overflow: hidden;
    position: absolute;
    background-color: #000;
    box-shadow: 0 0 10px #616161d9;
}
.FG_TEXT{
    z-index: 9;
    color: #0f0;
    border: 2px;
    resize: none;
    width: 772px;
    height: 422px;
    font-size: medium;
    position: absolute;
    border-color: #fff;
    border-style: solid;
    background-color: #141414;
}
.FG_BTN{
    top: 422px;
    left: 808px;
    width: 492px;
    position: absolute;
}
/*
    RDT Door Edit Prev
*/
.imgPreviewCamSpawn{
    width: 352px;
    margin-top: 6px;
    box-shadow: 0 0 10px #858dbfa3;
}